[Unit]
Description="My Custom Server Service"
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service
Before=getty.target

[Service]
Type=oneshot
WorkingDirectory=/home/user
ExecStart=/usr/bin/python3 myserver.py
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target